Programa: Tabuada Simples utilizando o FOR

In [1]:
#python
#tabuada_simples utilizando o FOR

tabuada = int(input("Digite um número para exibir a tabuada: \n"))

print("Tabuada do número: ", tabuada)

for valor in range(1,11,1):
  print(str(tabuada) + " x " + str(valor) + " = " + str(tabuada*valor))

Digite um número para exibir a tabuada:
9
Tabuada do número:  9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90